
<div class="header__top color-{{ section.settings.color_scheme }}  %}" >
  <div class="ctnr ctnr-header">
    <div class="p-relative">
      {%- for block in section.blocks -%}
        <p  class="p__header tt-uppercase letter-spacing color-text">
        {{block.settings.text-announcement}}
        </p>  
      {% endfor %}
      {%  form 'localization', id: "localization_form_tag", class: "dropup select__header letter-spacing p-absolute border-0 bg-transparent top-0 right-0 color-text" %} 
        <button class="localeBtn color-text letter-spacing" disabled>
          {{ form.current_locale.endonym_name }}
          <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
            <path d="M9 4L5.2449 8L1 4" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
        <div class="p-absolute list-language">
         
        {% for locale in shop.published_locales %}
          <a href="#" id="localeItem" lang="{{ locale.iso_code }}" class ="color-text d-block">
            {{ locale.endonym_name }}
          </a>
        {% endfor %}
       
        </div>
        <input type="hidden" name="locale_code" value="{{ form.current_locale.iso_code }}" id="localeCode">
      {% endform %} 
     </div>
  </div>
</div>
<script>
  document.querySelectorAll("#localeItem").forEach(item =>{
    item.addEventListener("click", event =>{
      document.getElementById("localeCode").value = item.getAttribute("lang");
      document.getElementById("localization_form_tag").submit();
    });
  });
</script> 




{% schema %}
  { 
    "name": "t:sections.announcement.name",
    "class": "Announcement-bar-section",
    "max_blocks": 1,
    "settings": [
      {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": false,
      "label": "t:sections.announcement.settings.check_box.label"
      },
      { 
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "background-1"
      }
    ],
    "blocks":[
    {
      "name": "announcement",
      "type": "announcement",
      "limit": 1,
      "settings": [
        {
        "type": "text",
        "id": "text-announcement",
        "default": "Announcement bar",
        "label": "Heading"
        }
      ]
    }
    ]
  }
{% endschema %}