{% render 'general-distance' %}
<section id="st3-home" class="product color-{{ section.settings.color_scheme }}">
  <div class="section-{{ section.id }}-padding">
    <div class="ctnr {% if section.settings.full_width == true %} full-width {% endif %}">
      <h2 class =" {{ section.settings.heading_size }} line-height-15em title  title-home--bottom text-align-center">  {{ 'general.product.featured_product' | t }}</h2>
    </div>
    <div class="ctnr {% if section.settings.full_width == true %} full-width {% endif %}">
      <div class="row fw-nowrap scroll-x">
        {% if section.settings.product_list == empty %}
          {% for i in (1..4) %}
          <div class="clm scroll-snap-align-start" style=" --w-lg:3; --w-xs:2;">
            <div class="box border-0 distance-box cursor-not-allowed">
              <div class="box__img p-relative">
                <a href="" class="d-block cursor-not-allowed" onclick="event.preventDefault();">
                  {{ 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg  w-100 img products__image' }}
                </a>
                <button onclick="event.preventDefault();" class="cursor-not-allowed product__icon bg-transparent border-0 p-absolute top-0 right-0 d-block">
                  {% render 'icon-heart' %}
                </button>
              </div>
              <div class="box__content text-align-center">
                <h3 class="h4 line-height-15em title product__title mt-20">Product title</h3>
                <span class="d-flex jc-center price mt-10">
                  <span class="price__new d-inline-block">60₫</span>
                </span>
                <button onclick="event.preventDefault();" class="btn bg-white border mt-20 product__btn cursor-not-allowed">
                  {{ 'general.product.add_to_cart' | t }}
                </button>
              </div>
            </div>
          </div>
          {% endfor %}
        {%- else -%}
        {%  assign cl_desktop = 12 | divided_by:  section.settings.columns_desktop   %}
        {%  assign cl_mobile = 12 | divided_by:  section.settings.columns_mobile   %}
          {%- for product in section.settings.product_list -%}
            {% assign featured_image = product.featured_image | img_url: 'master' %}
             <div class="clm scroll-snap-align-start" style=" 
             {% if  section.settings.columns_desktop == 5  %} 
                --w-lg2:{{ section.settings.columns_desktop }}
              {%  else %}
              --w-lg:{{ cl_desktop }}; 
              {% endif %}; --w-xs:{{ cl_mobile }};   ">
              <div class="box border-0 distance-box h-100">
                <div class="box__img p-relative">
                  <a href="{{ product.url}}" class = "d-block">
                    {% if featured_image != blank %}
                      <img src="{{featured_image}}" alt=""  class="w-100 products__image">
                    {%- else -%}
                      {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
                    {% endif %}
                  </a>
                  <button href="" class=" product__icon bg-transparent border-0 p-absolute top-0 right-0 d-block">
                    {% render 'icon-heart' %}
                  </button >
                </div>
                <div class="box__content product__content text-align-center d-flex" style="flex-direction: column">
                  <div style="flex: 1;">
                    <h3 class="h4 line-height-15em title product__title mt-20" style="color: black;">{{ product.title }}</h3>
                  </div>
                  <div>
                    <span class="d-flex jc-center price mt-10">
                      {% if product.price != blank %}
                        {% assign price = product.price | split: "," %}
                        <span class="price__new d-inline-block">{{ price.first | money}}</span>
                        {%-  else -%} 
                        <p> {{ 'general.product.contact_price' | t }}</p>
                      {% endif %}
                    </span>
                    <form action="/cart/add" method="post" id="">
                      <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                      <div>
                        <button type="submit" class ="btn bg-white border mt-20 product__btn "
                          {% if product.size <= 1 %}style="display: none;"{% endif %}>
                          {{ 'general.product.add_to_cart' | t }}
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
  "name": "Product",
  "class": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Title product",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h4",
          "label": "Extra Small"
        },
        {
          "value": "h3",
          "label": "Small"
        },
        {
          "value": "h2",
          "label": "Medium"
        },
        {
          "value": "h1",
          "label": " Large "
        }
      ],
      "default": "h1",
      "label": "Heading size"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Products",
      "limit": 5
    },
    { 
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "background-2"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Make products full width",
      "default": false
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "Column desktop"
    },
    {
      "type": "range",
      "id": "columns_mobile",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 2,
      "label": "Column mobile"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "unit": "px",
      "label": "Padding-top desktop",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "unit": "px",
      "label": "Padding-bottom desktop",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "unit": "px",
      "label": "Padding-top mobile",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "unit": "px",
      "label": "Padding-bottom mobile",
      "default": 40
    }
  ]
}
{% endschema %}