<section class="tabs color-{{ section.settings.color_scheme }}" id="tabs">
  <div class="distance-shared">
      <div class="tabs__link">
          <div class="ctnr">
              <ul class="tabs__button tab-links d-flex">
                {% for tab in section.blocks %}
                  <li class=" btn tab__btn p-relative {% if forloop.first %} active {% endif %} " onclick="showTab(event, '{{ tab.id }}')">{{ tab.settings.heading }}</li>
                {% endfor %}
              
              </ul>
          </div>
      </div>
      <div class="tabs__content">
          <div class="ctnr">
            {% for tab in section.blocks %}
            <div id="{{ tab.id }}" class="tabcontent tab-item {% if forloop.first %} active {% endif %}">
              {% for i in (1..5) %}
                {% capture question %}question_{{ i }}{% endcapture %}
                {% capture answer %}answer_{{ i }}{% endcapture %}
                {% if tab.settings[question] != blank %}
                  <div class="box box-fqa border-0" >
                    <div class="tabcontent-title faq-page p-relative" aria-expanded="false">
                      <h5 class="h4 title">
                        {{ tab.settings[question] }}
                      </h5>
                      <svg class="tabcontent__icon p-absolute top-0 right-0 bottom-0" width="21" height="21" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21 13L3 13L3 11L21 11L21 13Z"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11 21L11 3L13 3L13 21L11 21Z"></path>
                      </svg>
                    </div>
                    <div class="tabcontent-detail" aria-expanded="true">
                      <div class="tabcontent__desc">
                        {{ tab.settings[answer] }}
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endfor %}
          </div>
      </div>
  </div>
</section>
<script>

var faq = document.getElementsByClassName("box-fqa");
var i;
for (i = 0; i < faq.length; i++) {
  faq[i].addEventListener("click", function () {
      this.classList.toggle("show-click");
  });
}
</script>
{% schema %}
  {
    "name": "Tab FQA",
    "class": "section",
    "settings": [
      { 
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "background-2"
      }
    ],
    "blocks": [
      {
        "type":"text",
        "name": "FQA",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "heading",
            "default": "Title ",
            "label": "Heading"
          },
          {
            "type": "inline_richtext",
            "id": "question_1",
            "default": "Any question ",
            "label": "Question 1"
          },
          {
            "type": "richtext",
            "id": "answer_1",
            "default": "<p>Answer</p>",
            "label": "Answer 1"
          },
          {
            "type": "inline_richtext",
            "id": "question_2",
            "default": "Any question ",
            "label": "Question 2"
          },
          {
            "type": "richtext",
            "id": "answer_2",
            "default": "<p>Answer</p>",
            "label": "Answer 2"
          },
          {
            "type": "inline_richtext",
            "id": "question_3",
            "default": "Any question ",
            "label": "Question 3"
          },
          {
            "type": "richtext",
            "id": "answer_3",
            "default": "<p>Answer</p>",
            "label": "Answer 3"
          },
          {
            "type": "inline_richtext",
            "id": "question_4",
            "default": "Any question ",
            "label": "Question 4"
          },
          {
            "type": "richtext",
            "id": "answer_4",
            "default": "<p>Answer</p>",
            "label": "Answer 4"
          },
          {
            "type": "inline_richtext",
            "id": "question_5",
            "default": "Any question ",
            "label": "Question 5"
          },
          {
            "type": "richtext",
            "id": "answer_5",
            "default": " <p>Answer</p> ",
            "label": "Answer 5"
          }
        ]
      }
    ]
  }
{% endschema %}