{%- style -%}

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_desktop }}px;
      padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
    }
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }
{%- endstyle -%}
<section class="banner-inside-page section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="ctnr">
    <h2 class = "h2 title text-align-center">
      {{ section.settings.heading }}
    </h2>
  </div>
</section>
{% schema %}  
{
  "name": "Title page",
  "class": "section",
  "settings":[
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Title ",
      "label": "Heading"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 100,
      "unit": "px",
      "label": "Padding-top desktop",
      "default": 82
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 100,
      "unit": "px",
      "label": "Padding-bottom desktop",
      "default": 82
    },
    { 
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "inverse-1"
    }
  ]
}
{% endschema %}