{{ 'introduce-collection.css' | asset_url | stylesheet_tag }}
{% assign introcollection  = section.settings %}
<section id="st4-home" class=" p-relative collection introduce-collection__{{ section.settings.slide_height }} color-{{ section.settings.color_scheme }}">
  <div class="p-absolute top-0 left-0 w-100 h-100">
    {% if  introcollection.image != blank %}
      <img class="w-100 h-100" src="{{ introcollection.image |  image_url }}" alt="">
    {%- else -%}
      {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg h-100 w-100' }}
    {% endif %}
  </div>
  <div class="p-relative w-100">
    <div class="ctnr w-100">
      <h2 class ="{{ section.settings.heading_size }} line-height-15em title mb-20 ">{{ introcollection.heading }}</h2>
      <div class="collection__p--with">
        {{ introcollection.paragraph}}
      </div>
      <a href="{{ introcollection.link}} " class="btn btn-link color-white d-inline-block  mt-30">
        {{ introcollection.button_label }} 
        <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L6 5.22449L1 10" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    </div>
  </div>
</section>

{% schema %}  
  {
    "name": "Introduce Collection",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "inline_richtext",
        "id": "heading",
        "default": "Title",
        "label": "Heading"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h4",
            "label": "Extra Small"
          },
          {
            "value": "h3",
            "label": "Small"
          },
          {
            "value": "h2",
            "label": "Medium"
          },
          {
            "value": "h1",
            "label": " Large "
          }
        ],
        "default": "h3",
        "label": "Heading size"
      },
      {
        "type": "richtext",
        "id": "paragraph",
        "label": "Paragraph",
        "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididu </p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "default": "See more",
        "label": "Button",
        "info": "Button label"
      },
      {
        "type": "url",
        "id": "link", 
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "slide_height",
        "options": [
          {
            "value": "adapt_image",
            "label": "Adapt to first image"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "small",
            "label": "Small"
          }
        ],
        "default": "adapt_image",
        "label": "Slide height"
      },
      { 
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "background-1"
      }
    ],
    "blocks": [
    ]
  }
{% endschema %}