
{{ 'cart.css' | asset_url | stylesheet_tag }}
<section class="cart distance-shared border-top">
  {%- if cart != empty -%}
  <div class="ctnr">
    <div class="d-flex jc-space-between align-items-center mb-30">
      <h2 class="h1 line-height-15em letter-spacing color-black text-align-center font-weight-5">Your cart</h2>
      <a href="{{ collection-list.url }}" class="">Continue shopping</a>
    </div>
    <form action="" class="cart-items" >
      <table class="w-100">
        <thead>
          <tr>
            <th class="border-bottom text-align-left title mb-15"> 
              Product
            </th>
            <th class="border-bottom text-align-left title mb-15">

            </th>
            <th class="border-bottom text-align-left title mb-15">
              Quantity
            </th>
            <th class="border-bottom text-align-right title mb-15">
              Total
            </th>
          </tr>
        </thead>
        <tbody >
          {%- for item in cart.items -%}
            {% assign price = item.product.price | split: "," %}
          <tr >
            <td class="pdt-40">
              <div class="cart__img">
                <a href="{{ item.product.url }}">
                  {% if item.image !=blank %}
                    <img src="{{ item.image | image_url: width: 100 }}" alt="">
                  {%-  else -%}
                    {{ 'image' | placeholder_svg_tag }}
                  {% endif %}
                </a>
              </div>
            </td>
            <td class="">
              <a href="">{{ item.product.title }}</a>
              <p>{{ price.first | money}}</p>
            </td>
            <td class="text-align-right price-mobile ">
              <span class="price d-block">
                {% assign total_price = price.first | times: item.quantity %}
                {{ total_price | money }}
              </span>
            </td>
            <td class="">
              <div class="d-flex align-items-center">
                <div class="form-group">
                  <div class="buttons_added">
                    <input class="minus is-form p-relative border-0 bg-transparent" type="button" value="–">
                    <input aria-label="quantity" class="input-qty text-align-center border-0" max="Số tối đa" min="0"
                      name="" type="" value="{{ item.quantity }}">
                    <input class="plus is-form p-relative border-0 bg-transparent" type="button" value="+">
                  </div>
                </div>
                <div class="delete-product" style="">
                  <form action="/cart/change" method="post">
                    <input type="hidden" name="id" value="{{ item.key }}">
                    <input type="hidden" name="quantity" value="0">
                    <button type="submit " id="removeLastItemBtn" style="width: 20px;border: 0;background-color: transparent;">  {% render 'icon-delete' %}</button>
                  </form>
                </div>
              </div>
            </td>
            <td class="text-align-right price-desktop">
              <span class="price d-block">
                {% assign total_price = price.first | times: item.quantity %}
                {{ total_price | money }}
              </span>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table> 
    </form>
  </div>
  {% else %}
  <div class="ctnr">
    <h2 class="h1 line-height-15em color-black mb-30 text-align-center font-weight-5">Your cart is empty</h2>
    <div class="d-flex jc-center">
      <a href="" class="btn btn-dark d-inline-block tt-capitalize">Continue shopping</a>
    </div>
    
  </div>
  {% endif %}
</section>
{% schema %}
  {
      "name": "Item",
      "class": "section",
      "settings": [
      
      ]
  }
{% endschema %}

<script>
  document.getElementById('removeLastItemBtn').addEventListener('click', function() {
  var cartItems = {{ cart.items | json }};
  
  if (cartItems.length > 0) {
    var lastItem = cartItems[cartItems.length - 1];
    Shopify.addItem(lastItem.variant_id, 0, function(cart) {
      // Xóa thành công, cập nhật giỏ hàng mới
      location.reload();
    });
  }
});
</script>
