<section id="" class="product color-{{ section.settings.color_scheme }}">
    {% assign current_product_tags = product.tags | split: ", " %}
    {% assign common_tags = current_product_tags | where_exp: "tag", "related_product_tags contains tag" %}
    {% if common_tags.size > 0 %}
  <div class="distance-shared">

      <div class="ctnr">
          <h2 class ="h1 line-height-15em title --color-black title-home--bottom text-align-center">{{ section.settings.heading }}</h2>
      </div>
      <div class="ctnr">
          <div class="row fw-nowrap scroll-x">
            {% for related_product in collections.all.products limit:4 %}
                {% unless product.id == related_product.id %}
                  {% assign related_product_tags = related_product.tags | split: ", " %}
              
                  <div class="clm scroll-snap-align-start mb-20" style=" --w-lg:3; --w-xs:6;">
                    <div class="box border-0 distance-box h-100">
                        <div class="box__img p-relative">
                            <a href="{{ related_product.url}}" class = "d-block">
                                {% if related_product.featured_image != blank %}
                                    <img src="{{ related_product.featured_image |  image_url }}" alt=""  class="w-100 products__image">
                                {%-  else -%}
                                    {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
                                {% endif %}
                            </a>
                            <button href="" class="product__icon bg-transparent border-0 p-absolute top-0 right-0 d-block">
                                {% render 'icon-heart' %}
                            </button >
                        </div>
                        <div class="box__content product__content text-align-center d-flex" style="flex-direction: column">
                            <div style="flex: 1;">
                              <h3 class="h4 line-height-15em title product__title mt-20">{{ related_product.title }}</h3>
                            </div>
                            <div>
                            <span class="d-flex jc-center price mt-10">
                                {% if related_product.price != blank %}
                                    {% assign price = related_product.price | split: "," %}
                                    <span class="price__new d-inline-block">{{ price.first | money}}</span>
                                    {%-  else -%} 
                                    <p>Liên hệ</p>
                                {% endif %}
                            </span>
                            
                            <form action="/cart/add" method="post" id="">
                              <input type="hidden" name="id" value="{{ related_product.variants.first.id }}">
                              <div>
                                <button type="submit" class ="btn border bg-white mt-20 product__btn "
                                    {% if related_product.size <= 1 %}style="display: none;"{% endif %}>
                                    Add to Cart 
                                </button>
                              </div>
                            </form>
                            </div>
                        </div>
                    </div>
                  </div>
             
              {% endunless %}
            {% endfor %}
          </div>
      </div>
  </div>
{% endif %}
</section>
{% schema %}
  {
    "name": "Related product",
    "class": "section",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "heading",
        "default": "RELATED PRODUCT ",
        "label": "Heading"
      },
      { 
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "background-2"
      }
    ]
    
  }
{% endschema %}