<section id="" class="distance-shared border-top">
  <div class="ctnr">
  <div class="row jc-center" >
    <div class="clm" style=" --w-lg:8; --w-xs: 12; height: -webkit-fill-available;">
      <h2 class="h2  text-align-center mb-30">Search Results:</h2>
      <form action="/search" method="get" class=" mb-30 d-flex p-relative search">
        <input type="text" name="q" 
          placeholder="Search products..." 
          value="{{ search.terms | escape }}" required
          class="w-100">
        <button type="submit" class="d-flex jc-center right-0 top-0 h-100 p-absolute">
          {% render 'icon-search' %}
        </button>
      </form>
    </div>
  </div>
  {% if search.results_count > 0 %}
    <div class="row mt-40">
      {% for item in search.results %}
        <div class="clm mb-20" style=" --w-lg:3; --w-xs:6;">
          <div class="box border-0 distance-box h-100">
              <div class="box__img p-relative">
                {% assign featured_image = item.featured_image | img_url: 'master' %}
                  <a href="{{ item.url}}" class = "d-block">
                      {% if featured_image != blank %}
                          <img src="{{ featured_image }}" alt=""  class="w-100 products__image">
                    
                      {% endif %}
                  </a>
                  <button href="" class="product__icon bg-transparent border-0 p-absolute top-0 right-0 d-block">
                      {% render 'icon-heart' %}
                  </button >
              </div>
              <div class="box__content product__content text-align-center d-flex" style="flex-direction: column">
                  <div style="flex: 1;">
                    <h3 class="h4 line-height-15em title product__title mt-20">{{ item.title }}</h3>
                  </div>
                  <div>
                  <span class="d-flex jc-center price mt-10">
                      {% if item.price != blank %}
                          {% assign price = item.price | split: "," %}
                          <span class="price__new d-inline-block">{{ price.first | money}}</span>
                          {%-  else -%} 
                          <p>Liên hệ</p>
                      {% endif %}
                  </span>
                  
                  <form action="/cart/add" method="post" id="">
                    <input type="hidden" name="id" value="{{item.variants.first.id }}">
                    <div>
                      <button type="submit" class ="btn btn-secondary mt-20 product__btn "
                          {% if item.size <= 1 %}style="display: none;"{% endif %}>
                          Add to Cart 
                      </button>
                    </div>
                  </form>
                  </div>
              </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No results found for '{{ search.terms | escape }}'.</p>
  {% endif %}
  </div>
</section>