{{ 'services.css' | asset_url | stylesheet_tag }}
{% render 'general-distance' %}
{% style %}  
  .text-align--{{ section.settings.column-alignment }}{
    text-align: {{ section.settings.column-alignment }};
  }
{% endstyle %} 
<section id="st3-home" class="services color-{{ section.settings.color_scheme }}"> 
  <div class="ctnr">
    <div class="section-{{ section.id }}-padding">
      <h2 class="{{ section.settings.heading_size }} line-height-15em title color-black title-home--bottom text-align-center">
        {{ section.settings.heading }}
      </h2>
      <div class="row">
        {%  assign cl_desktop = 12 | divided_by:  section.settings.columns_desktop   %}
        {%  assign cl_mobile = 12 | divided_by:  section.settings.columns_mobile   %}
        {% for column in section.blocks %}
          <div class="clm distance-box" style="  
            {% if  section.settings.columns_desktop == 5  %} 
            --w-lg2:{{ section.settings.columns_desktop }}
            {%  else %}
            --w-md:2;
            --w-lg:{{ cl_desktop }};
            {% endif %}; --w-xs:{{ cl_mobile }}; ">
            <div class="box services__box  text-align--{{ section.settings.column-alignment }} h-100">
              {{ section.blocks.settings.image_width }}
              <div class="services__box-image--{{ column.settings.image_width }}">
                {% if column.settings.image != blank %}
                  <img src="{{ column.settings.image | image_url }}" alt="" class = "w-100 d-block spect-ratio">
                {%- else -%}
                  {% render 'icon-box' %}
                {% endif %}
              </div>
              <div class="services__box-content">
                <h4 class="title-h4 line-height-15em box__title tt-uppercase letter-spacing mt-30">
                  {{ column.settings.heading }}
                </h4>
                <div class="desc mt-5">
                  {{ column.settings.paragraph }}
                </div>
                <a href="{{ column.settings.link }}" class="btn btn-link  d-inline-block  mt-30 ">
                  {{ column.settings.button_label }}
                  {% render 'icon-chevron-right' %}
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section> 
{%  schema  %} 
  {
    "name": "Services",
    "class": "section",
    "max_blocks": 4,
    "settings": [
      {
        "type": "inline_richtext",
        "id": "heading",
        "default": "Multicolumn",
        "label": "Heading"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h4",
            "label": "Extra Small"
          },
          {
            "value": "h3",
            "label": "Small"
          },
          {
            "value": "h2",
            "label": "Medium"
          },
          {
            "value": "h1",
            "label": " Large "
          }
        ],
        "default": "h1",
        "label": "Heading size"
      },
      {
        "type": "select",
        "id": "column-alignment",
        "options": [
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center",
        "label": "Column alignment"
      },
      {  
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "inverse-1"
      },
      {
        "type": "range",
        "id": "columns_desktop",
        "min": 1,
        "max": 6,
        "step": 1,
        "default": 4,
        "label": "Column desktop"
      },
      {
        "type": "range",
        "id": "columns_mobile",
        "min": 1,
        "max": 3,
        "step": 1,
        "default":1,
        "label": "Column mobile"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "unit": "px",
        "label": "Padding-top desktop",
        "default": 100
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "unit": "px",
        "label": "Padding-bottom desktop",
        "default": 100
      },
      {
        "type": "range",
        "id": "padding_top_mobile",
        "min": 0,
        "max": 100,
        "unit": "px",
        "label": "Padding-top mobile",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_bottom_mobile",
        "min": 0,
        "max": 100,
        "unit": "px",
        "label": "Padding-bottom mobile",
        "default": 40
      }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "Column",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "image_width",
            "options": [
              {
                "value": "full-width",
                "label": "Full width of column"
              },
              {
                "value": "half-width",
                "label": "Half width of column"
              }
            ],
            "default": "half-width",
            "label": "Image width"
          },
          {
            "type": "inline_richtext",
            "id": "heading",
            "default": "Column",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "paragraph",
            "label": "Paragraph",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "default": "See more",
            "label": "Button",
            "info": "Button label"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Button link"
          }
        ]
          
      }
    ],
    "presets": [
      {
      "name": "Services",
      "blocks": [
        {
        "type": "column" 
        },
        {
        "type": "column"
        },
        {
        "type": "column"
        },
        {
        "type": "column"
        }
      ]
      }
    ]

  }
{% endschema %}