
<section class="tabs product-detail__tabs color-{{ section.settings.color_scheme }}" >

  <div class="tabs__link ">
      <div class="ctnr">
        <ul class="tabs__button tab-links  product-detail-tab__btn tabs__button--jc-left d-flex">
          {% for tab in section.blocks %}
            <li class=" btn tab__btn {% if forloop.first %} active {% endif %} product-detail-tab__btn tab__btn--padding p-relative tt-uppercase bg-transparent" onclick="showTab(event, '{{ tab.id }}')">{{ tab.settings.heading }}</li>
          {% endfor %}
        </ul>
      </div>
  </div>
  <div class="tabs__content">
      <div class="ctnr">
        {% for tab in section.blocks %}
          <div id="{{ tab.id }}" class="tabcontent tab-item product-detail__tabcontent {% if forloop.first %} active {% endif %}">
              <div class="box row border-0 jc-space-between">
                  <div class="tabcontent__left clm" style="--w-lg:6; --w-md: 6; --w-sm: 12; --w-xs: 12;">
                      <p class="product-detail-tabcontent__p letter-spacing tt-uppercase">{{ tab.settings.heading }}</p>
                      <ul class="product-detail-tabcontent__ul">
                        {{ tab.settings.paragraph }}
                      </ul>
                  </div>
                  <div class="tabcontent__right d-flex jc-right clm" style="--w-lg:6; --w-md: 6; --w-sm: 12; --w-xs: 12;">
                    {%- if tab.settings.image != blank -%}
                      <img src="{{ tab.settings.image |  image_url }}" alt="" class="w-100">
                    {%- endif -%}
                  </div>
              </div>
          </div>
        {% endfor %}
      </div>
  </div>
</section>


{% schema %}
  {
    "name": "Tab product",
    "class": "section",
    "blocks": [
      {
        "type":"tag",
        "name": "Tag",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "heading",
            "default": "Title ",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "paragraph",
            "label": "Paragraph",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididu </p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          { 
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color scheme",
            "default": "background-2"
          }
        ]
      }
    ]
  }
{% endschema %}