{% if template == 'product' %}
  <ul class="d-flex breadcrumb__lists">
    <li class="breadcrumb__li p-relative"><a class="breadcrumb__a tt-uppercase" style="color:var(--color-text--secondary)" href="{{ routes.root_url }}">Home</a></li>
    {% if collections %}
    <li class="breadcrumb__li p-relative"><a class="breadcrumb__a tt-uppercase" style="color:var(--color-text--secondary)" href="/collections">{{ collections.title }}</a></li>
    {% endif %}
    <li class="breadcrumb__li p-relative">
      <a href="" class="breadcrumb__a tt-uppercase active">{{ product.title }}</a>
    </li>
  </ul>
{% elsif template == 'collection' %}
  <ul class="d-flex breadcrumb__lists">
    <li class="breadcrumb__li p-relative"><a class="breadcrumb__a tt-uppercase" style="color:var(--color-text--secondary)" href="{{ routes.root_url }}">Home</a></li>
    <li class="breadcrumb__li p-relative">
      <a href="" class="breadcrumb__a tt-uppercase active">{{ collection.title }}</a>
    </li>
  </ul>
{% else %}
  <ul class="d-flex breadcrumb__lists">
    <li class="breadcrumb__li p-relative"><a class="breadcrumb__a tt-uppercase" style="color:var(--color-text--secondary)" href="{{ routes.root_url }}">Home</a></li>
    <li class="breadcrumb__li p-relative">
      <a href="" class="breadcrumb__a tt-uppercase active">{{ page.title }}</a>
    </li>
  </ul>
{% endif %}
