<!DOCTYPE html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initialetter-spacingcale=1.0">
  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}
  <title>
    {{ page_title }}
    {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
    {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
    {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
  </title>
  {{ 'header.css' | asset_url | stylesheet_tag }}
  {{ 'style.css' | asset_url | stylesheet_tag }}
  {{ 'footer.css' | asset_url | stylesheet_tag }}
  {{ 'utiliti.css' | asset_url | stylesheet_tag }}
  {{ 'reponisve.css' | asset_url | stylesheet_tag }}
  {{ content_for_header }} 

  {% render 'shogun-head' %}
</head>
<body class="password gradient d-flex">
  {% section 'main-password-header' %}
  <main id="MainContent" class="password-main">
    {{ content_for_layout }}
  </main>
  <footer>
    {% section 'main-password-footer' %}
  </footer>
  <script src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>
</body>
</html>